header {
    padding: 28px 30px;
    height: 30px;

    background:#678E55;
    border-radius: 5px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0.25);
}

h1 {
    position: absolute;
    left: 9%;
    right: 0%;
    top: 0%;
    bottom: 0%;
    font-family: "Alata";
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 55px;

    color: #000000;
}

#links {
    position: absolute;
    top: 35px;
    right: 80px;
}

#link1 {

    font-family: 'Alata';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 33px;
    text-decoration: none;
    background-color:#DFDFDF ;
    color: #000000;
    
}

#link1:hover {
    background-color: white;    
}

#link2 {
    font-family: 'Alata';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 33px;
    text-decoration: none;
    background-color:#DFDFDF ;
    color: #000000;
}

#link2:hover {
    background-color: white;
}

#link3 {
    font-family: 'Alata';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 33px;
    text-decoration: none;
    background-color:#DFDFDF ;
    color: #000000;
}

#link3:hover {
    background-color: white;
}

main {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 32px;
    gap: 125px;
    
    background: #d9f0d7;
}

#subtitulo {
    width: 50%;
}

h2 {

    font-family: 'Alata';
    font-style: normal;
    font-weight: 2000;
    font-size: 20px;
    line-height: 33px;

    color: #18421d;
}

p {

    font-family: 'Alata';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;

    color: #000000;

}

section {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 20px;
    gap: 26px;

    background: url(OIP.jpg);
}

#hobbies {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 20px;
    gap: 26px;
}

#sub1 {
    font-family: 'Alata';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 33px;
    
    color: #000000;
    
}

.caixas {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end;
    padding: 0px;
    gap: 10px;
    filter: drop-shadow(4px 4px 4px rgba(0, 0, 0, 0.25));

}

#card6{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    padding: 2px;
    gap: 10px;
    
    width: 100px;
    height: 150px;
    
    background: #d9f0d7;
    border-radius: 5px;
    
    /* Inside auto layout */
    
    flex: none;
    order: 0;
    flex-grow: 0;
}

#card7{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    padding: 2px;
    gap: 10px;
    
    width: 100px;
    height: 150px;
    
    background: #d9f0d7;
    border-radius: 5px;

/* Inside auto layout */

flex: none;
order: 1;
flex-grow: 0;
}

#card8{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    padding: 2px;
    gap: 10px;
    
    width: 100px;
    height: 150px;
    
    background: #d9f0d7;
    border-radius: 5px;
    
    /* Inside auto layout */
    
    flex: none;
    order: 2;
    flex-grow: 0;
}

#card9{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    padding: 2px;
    gap: 10px;
    
    width: 100px;
    height: 150px;
    
    background:#d9f0d7;
    border-radius: 5px;
    
    /* Inside auto layout */
    
    flex: none;
    order: 3;
    flex-grow: 0;
}

#card10{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    padding: 2px;
    gap: 10px;
    
    width: 100px;
    height: 150px;
    
    background: #d9f0d7;
    border-radius: 5px;
    /* Inside auto layout */
    
    flex: none;
    order: 4;
    flex-grow: 0;
}

#manoel{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 20px;
    gap: 26px;
}

#sub2 {
    font-family: 'Alata';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 33px;
    
    color: #000000;  
}

.caixas2 {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end;
    padding: 0px;
    gap: 10px;
    filter: drop-shadow(4px 4px 4px rgba(0, 0, 0, 0.25));
}

#card{

    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    padding: 2px;
    gap: 10px;
    
    width: 100px;
    height: 150px;
    
    background: #d9f0d7;
    border-radius: 5px;
    
    /* Inside auto layout */
    
    flex: none;
    order: 0;
    flex-grow: 0;
}

#r1 {
    position: absolute;
width: 19px;
height: 44px;
left: 5px;
top: 0px;

background: goldenrod;
border-radius: 0px 0px 5px 5px;
}

#card2{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    padding: 2px;
    gap: 10px;
    
    width: 100px;
    height: 150px;
    
    background: #d9f0d7;
    border-radius: 5px;
    
    /* Inside auto layout */
    
    flex: none;
    order: 1;
    flex-grow: 0;
}

#r2 {
    position: absolute;
    width: 19px;
    height: 44px;
    left: 120px;
    top: 0px;
    
    background: goldenrod;
    border-radius: 0px 0px 5px 5px;
}

#card3{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    padding: 2px;
    gap: 10px;
    
    width: 100px;
    height: 150px;
    
    background: #d9f0d7;
    border-radius: 5px;
    
    /* Inside auto layout */
    
    flex: none;
    order: 2;
    flex-grow: 0;
}

#r3 {
    position: absolute;
width: 19px;
height: 44px;
left: 234px;
top: 0px;

background: goldenrod;
border-radius: 0px 0px 5px 5px;
}

#card4{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    padding: 2px;
    gap: 10px;
    
    width: 100px;
    height: 150px;
    
    background: #d9f0d7;
    border-radius: 5px;
    /* Inside auto layout */
    
    flex: none;
    order: 3;
    flex-grow: 0;
}

#r4 {
    position: absolute;
width: 19px;
height: 44px;
left: 348px;
top: 0px;

background: goldenrod;
border-radius: 0px 0px 5px 5px;
}

#card5 {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    padding: 2px;
    gap: 10px;
    
    width: 100px;
    height: 150px;
    
    background: #d9f0d7;
    border-radius: 5px;

/* Inside auto layout */

flex: none;
order: 4;
flex-grow: 0;

}

#r5 {
    position: absolute;
    width: 19px;
    height: 44px;
    left: 463px;
    top: 0px;
    
    background: goldenrod;
    border-radius: 0px 0px 5px 5px;
}

footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 16px 32px;
    gap: 897px;

    height: 50px;

    background: #678E55;
    border-radius: 5px;
}


#contato {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 16px 32px;
    gap: 897px;

    height: 20px;
background-color: #DFDFDF;
border-radius: 5px;
 }

 #oi {
    text-decoration: none;
 }

 #contato:hover {
    background-color: white;
 }