header {
display: flex;
flex-direction: row;
align-items: center;
padding: 28px 30px;
gap: 880px;

position: absolute;
width: 100%;
height: 70px;
top: 0px;

background: #C4C4C4;
box-shadow: 0px 4px 4px rgba(0, 0, 0.25);
}

#titulo{
    width: 100%;
    height: 100%;

    flex: none;
    order: 0;
    flex-grow: 0;

}

h1 {
    position: absolute;
    left: 10%;
    right: 0%;
    top: 0%;
    bottom: 0%;

    font-family: "Alata";
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 55px;

    color: #000000;
}

main {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 32px;
  gap: 125px;
  
  position: absolute;
  width: 1440px;
  height: 318px;
  left: 0px;
  top: 109px;

  background: #F3F3F3;
}

#foto {
    width: 247px;
    height: 247px;

    background: url(baala.png);
    filter: drop-shadow(4px 4px 4px 4px rgba(0,0,0, 0.25));

    flex: none;
    order: 0;
    flex-grow: 0;
}

#group1 {

    width: 614px;
    height: 186px;

    flex: none;
    order: 1;
    flex-grow: 0;
}

#subtitulo{
    position: absolute;
    width: 100%;
    height: 36.28px;
    left: 599px;
    top: 66px;
}

h2 {
    position: absolute;
    left: 0%;
    right: -2.61%;
    top: 0%;
    bottom: 9.05%;

    font-family: 'Alata';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 33px;

    color: #000000;

}

#paragrafo {
    position: absolute;
    width: 614px;
    height: 134.14px;
    left: 599px;
    top: 117.86px;

}

p {
    position: absolute;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 10.54%;

    font-family: 'Alata';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;

    color: #000000;

}

section {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 20px;
    gap: 26px;

    position: absolute;
    width: 100%;
    height: 289px;
    left: 0px;
    top: 427px;;
}

#hobbies {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    padding: 20px;
    gap: 26px;

    width: 595px;
    height: 249px;

    flex: none;
    order: 0;
    flex-grow: 0;
    }

#manoel {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 20px;
    gap: 26px;

    width: 596px;
    height: 50%;


/* Inside auto layout */

flex: none;
order: 1;
flex-grow: 0;
}

.subtitulo{

    width: 98px;
    height: 50%;
    
    
    /* Inside auto layout */
    
    flex: none;
    order: 0;
    flex-grow: 0;
}

.subtitulo2{
    width: 98px;
    height: 33px;
    
    
    /* Inside auto layout */
    
    flex: none;
    order: 0;
    flex-grow: 0;
}

#sub1{
    position: absolute;
    left: 50%;
    right: 0%;
    top: 0%;
    bottom: 0%;
    
    font-family: 'Alata';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 33px;
    
    color: #000000;
    
}

#sub2{

    position: absolute;
    left: 0%;
    right: 50%;
    top: 0%;
    bottom: 0%;
    
    font-family: 'Alata';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 33px;
    
    color: #000000;
}

.caixas{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end;
    padding: 0px;
    gap: 10px;

    width: 3%;
    height: 10px;

    filter: drop-shadow(4px 4px 4px rgba(0, 0, 0, 0.25));

    flex: none;
    order: 1;
    flex-grow: 0;
}

.caixas2{

    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end;
    padding: 0px;
    gap: 10px;

    width: 3%;
    height: ;

    filter: drop-shadow(4px 4px 4px rgba(0, 0, 0, 0.25));

    flex: none;
    order: 1;
    flex-grow: 0;
}

#card{

    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    padding: 2px;
    gap: 10px;
    
    width: 100px;
    height: 150px;
    
    background: #DFDFDF;
    border-radius: 5px;
    
    /* Inside auto layout */
    
    flex: none;
    order: 0;
    flex-grow: 0;
}

#card2{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    padding: 2px;
    gap: 10px;
    
    width: 100px;
    height: 150px;
    
    background: #DFDFDF;
    border-radius: 5px;
    
    /* Inside auto layout */
    
    flex: none;
    order: 1;
    flex-grow: 0;
}

#card3{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    padding: 2px;
    gap: 10px;
    
    width: 100px;
    height: 150px;
    
    background: #DFDFDF;
    border-radius: 5px;
    
    /* Inside auto layout */
    
    flex: none;
    order: 2;
    flex-grow: 0;
}

#card4{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    padding: 2px;
    gap: 10px;
    
    width: 100px;
    height: 150px;
    
    background: #DFDFDF;
    border-radius: 5px;
    /* Inside auto layout */
    
    flex: none;
    order: 3;
    flex-grow: 0;
}

#card5{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    padding: 2px;
    gap: 10px;
    
    width: 100px;
    height: 150px;
    
    background: #DFDFDF;
    border-radius: 5px;

/* Inside auto layout */

flex: none;
order: 4;
flex-grow: 0;

}

#card6{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    padding: 2px;
    gap: 10px;
    
    width: 100px;
    height: 150px;
    
    background: #DFDFDF;
    border-radius: 5px;
    
    /* Inside auto layout */
    
    flex: none;
    order: 0;
    flex-grow: 0;
}

#card7{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    padding: 2px;
    gap: 10px;
    
    width: 100px;
    height: 150px;
    
    background: #DFDFDF;
    border-radius: 5px;

/* Inside auto layout */

flex: none;
order: 1;
flex-grow: 0;
}

#card8{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    padding: 2px;
    gap: 10px;
    
    width: 100px;
    height: 150px;
    
    background: #DFDFDF;
    border-radius: 5px;
    
    /* Inside auto layout */
    
    flex: none;
    order: 2;
    flex-grow: 0;
}

#card9{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    padding: 2px;
    gap: 10px;
    
    width: 100px;
    height: 150px;
    
    background: #DFDFDF;
    border-radius: 5px;
    
    /* Inside auto layout */
    
    flex: none;
    order: 3;
    flex-grow: 0;
}

#card10{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    padding: 2px;
    gap: 10px;
    
    width: 100px;
    height: 150px;
    
    background: #DFDFDF;
    border-radius: 5px;
    /* Inside auto layout */
    
    flex: none;
    order: 4;
    flex-grow: 0;
}

h3{
    position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;

font-family: 'Alata';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 33px;

color: #000000;
}

li {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    padding: 17px;
    gap: 10px;

    width: 102px;
    height: 150px;

    background: #DFDFDF;
    border-radius: 5px;

    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}

footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 16px 32px;
    gap: 897px;

    position: absolute;
    height: 50px;
    left: 0px;
    right: 0px;
    bottom: 0px;

    background: #C4C4C4;
}

#redes {
    width: 188px;
    height: 32px;
    
    flex: none;
    order: 0;
    flex-grow: 0;
    }

#git {
    position: absolute;
    width: 32px;
    height: 32px;
    left: 148.5px;
    top: 19px;

background: url(redes-sociais-mais-usadas.jpg);
}

#insta {
    position: absolute;
    width: 32px;
    height: 32px;
    left: 96.5px;
    top: 19px;

    background: url(redes-sociais-mais-usadas.jpg);
}

#link {
    position: absolute;
    width: 32px;
    height: 32px;
    left: 200.5px;
    top: 19px;
    
    background: url(redes-sociais-mais-usadas.jpg);

#entrar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 8px 16px;
    gap: 10px;

    width: 162px;
    height: 38px;

    background: #DFDFDF;
    border-radius: 5px;

    flex: none;
    order: 1;
    flex-grow: 0;
}


